*.suo
*.ide
*.ide-shm
*.ide-wal
*.pdb
*.cache
*.resources
*.lock
*.resx
*.sln
*.csproj
*.user1
*.dll
*.vsidx
*.vs
*.user
*.datasource
*.json
DynamoTesting/obj/
DynamoTesting/.vs/
Dynamotesting/bin/
DynamoTesting/obj/Debug/
DynamoTesting/obj/Properties/
DynamoTesting/Program.cs
DynamoTesting/Properties/Resources.Designer.cs


